<div style="margin: 50px auto; display: flex; width: 800px; justify-content: space-between">
  <div>
    <div style="margin-bottom: 10px"><strong>Non-grouped animals</strong></div>
    <div *ngFor="let animal of animals">
      <strong>{{animal.commonName}}</strong> - {{animal.species}} - {{animal.class}}
    </div>
  </div>
  <div>
    <div style="margin-bottom: 10px"><strong>Grouped animals</strong></div>
    <div *ngFor="let groupedAnimals of (animals | groupBy: 'class')">
      <div><strong>{{groupedAnimals.group}}</strong></div>
      <div *ngFor="let animal of groupedAnimals.items" style="padding-inline: 10px">
        {{animal.commonName}} - {{animal.species}}
      </div>
    </div>
  </div>
</div>
